.divFilters {
    display: block;
    border-right: 1px solid gray;
    width: 100%;
    max-width: 25vw;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

.topicFilters {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topicFilters>div {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    gap: 5px;
    flex: 1;
    margin-left: 15px;
    padding: 0;
}

.topicFilters>span {
    margin-left: 10px;
    font-size: 0.8rem;
    cursor: default;
    color: rgb(168, 168, 168);
}

.option {
    font-size: 1.1rem;
    padding: 5px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
}

.option-selected {
    color: rgb(62, 167, 253);
    background-color: rgb(210, 234, 253);
}

.filter {
    cursor: pointer;
    font-size: 1.1rem;
    padding: 5px;
    color: rgb(68, 68, 68);
    border-radius: 5px;
}

.filter-selected {
    background-color: rgb(219, 219, 219);
}


.filter:hover {
    color: rgb(65, 65, 65);
    background-color: rgb(219, 219, 219);
}

.option:hover {
    color: rgb(62, 167, 253);
    cursor: pointer;
    background-color: rgb(210, 234, 253);
    border-radius: 5px;
}

.tag {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    border-radius: 10px;
    padding-top: 0;
    font-size: 0.8rem;
    vertical-align: middle;
}

.tag-selected {
    color: white;
    background-color: rgb(97, 97, 97) !important;
}

.div-tags {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
}


@media (max-width: 768px) {
    .divFilters {
        padding: 0px;
    }

    .topicFilters>div {
        margin-left: 10px;
    }

    .topicFilters>span {
        margin-left: 5px;
    }

    .option {
        padding: 0px;
    }
}